/**
 *	Mixins
 */
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.capitalize {
  text-transform: capitalize;
}
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.no-text {
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
}
/**
 * Colors
 */
/**
 * Hand Basket Styles
 */
html body [data-toggle="hand-basket"] {
  cursor: pointer;
  background: url('../../media/cart-icon.png') no-repeat;
  float: right;
  width: 27px;
  height: 21px;
  text-indent: -9999px;
  margin-top: 5px;
}
html body .popover.hand-basket {
  min-width: 100%;
  left: auto !important;
  top: 0 !important;
  right: 0 !important;
  margin-top: -20px;
  margin-right: 0;
}
html body .hand-basket,
html body .modal {
  background: #FFF;
  border: none;
  z-index: 9999;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
html body .hand-basket .arrow,
html body .modal .arrow {
  display: none;
}
html body .hand-basket .hand-basket-content,
html body .modal .hand-basket-content,
html body .hand-basket .checkoutReview,
html body .modal .checkoutReview {
  font-size: 16px;
  font-weight: 300;
  padding: 19px 25px 15px 25px;
}
html body .hand-basket .hand-basket-content h1,
html body .modal .hand-basket-content h1,
html body .hand-basket .checkoutReview h1,
html body .modal .checkoutReview h1 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: underline;
}
html body .hand-basket .hand-basket-content .hand-basket-preview-legend:before,
html body .modal .hand-basket-content .hand-basket-preview-legend:before,
html body .hand-basket .checkoutReview .hand-basket-preview-legend:before,
html body .modal .checkoutReview .hand-basket-preview-legend:before,
html body .hand-basket .hand-basket-content .hand-basket-preview-legend:after,
html body .modal .hand-basket-content .hand-basket-preview-legend:after,
html body .hand-basket .checkoutReview .hand-basket-preview-legend:after,
html body .modal .checkoutReview .hand-basket-preview-legend:after {
  content: " ";
  display: table;
}
html body .hand-basket .hand-basket-content .hand-basket-preview-legend:after,
html body .modal .hand-basket-content .hand-basket-preview-legend:after,
html body .hand-basket .checkoutReview .hand-basket-preview-legend:after,
html body .modal .checkoutReview .hand-basket-preview-legend:after {
  clear: both;
}
html body .hand-basket .hand-basket-content .hand-basket-preview-legend span,
html body .modal .hand-basket-content .hand-basket-preview-legend span,
html body .hand-basket .checkoutReview .hand-basket-preview-legend span,
html body .modal .checkoutReview .hand-basket-preview-legend span {
  float: left;
  margin-left: 25px;
}
html body .hand-basket .hand-basket-content .hand-basket-preview-legend span.product-title,
html body .modal .hand-basket-content .hand-basket-preview-legend span.product-title,
html body .hand-basket .checkoutReview .hand-basket-preview-legend span.product-title,
html body .modal .checkoutReview .hand-basket-preview-legend span.product-title {
  margin-left: 114px;
}
html body .hand-basket .hand-basket-content .hand-basket-preview-legend span.product-remove,
html body .modal .hand-basket-content .hand-basket-preview-legend span.product-remove,
html body .hand-basket .checkoutReview .hand-basket-preview-legend span.product-remove,
html body .modal .checkoutReview .hand-basket-preview-legend span.product-remove {
  margin-left: 0;
  float: right;
}
html body .hand-basket .hand-basket-content .hand-basket-product,
html body .modal .hand-basket-content .hand-basket-product,
html body .hand-basket .checkoutReview .hand-basket-product,
html body .modal .checkoutReview .hand-basket-product {
  font-size: 13px;
  color: #666;
  margin: 15px 0 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #F6F6F6;
}
html body .hand-basket .hand-basket-content .hand-basket-product:before,
html body .modal .hand-basket-content .hand-basket-product:before,
html body .hand-basket .checkoutReview .hand-basket-product:before,
html body .modal .checkoutReview .hand-basket-product:before,
html body .hand-basket .hand-basket-content .hand-basket-product:after,
html body .modal .hand-basket-content .hand-basket-product:after,
html body .hand-basket .checkoutReview .hand-basket-product:after,
html body .modal .checkoutReview .hand-basket-product:after {
  content: " ";
  display: table;
}
html body .hand-basket .hand-basket-content .hand-basket-product:after,
html body .modal .hand-basket-content .hand-basket-product:after,
html body .hand-basket .checkoutReview .hand-basket-product:after,
html body .modal .checkoutReview .hand-basket-product:after {
  clear: both;
}
html body .hand-basket .hand-basket-content .hand-basket-product .product-preview,
html body .modal .hand-basket-content .hand-basket-product .product-preview,
html body .hand-basket .checkoutReview .hand-basket-product .product-preview,
html body .modal .checkoutReview .hand-basket-product .product-preview {
  width: 105px;
  display: block;
  float: left;
}
html body .hand-basket .hand-basket-content .hand-basket-product .product-description,
html body .modal .hand-basket-content .hand-basket-product .product-description,
html body .hand-basket .checkoutReview .hand-basket-product .product-description,
html body .modal .checkoutReview .hand-basket-product .product-description {
  width: 96px;
  float: left;
  margin-left: 10px;
}
html body .hand-basket .hand-basket-content .hand-basket-product .product-price,
html body .modal .hand-basket-content .hand-basket-product .product-price,
html body .hand-basket .checkoutReview .hand-basket-product .product-price,
html body .modal .checkoutReview .hand-basket-product .product-price,
html body .hand-basket .hand-basket-content .hand-basket-product .product-qty,
html body .modal .hand-basket-content .hand-basket-product .product-qty,
html body .hand-basket .checkoutReview .hand-basket-product .product-qty,
html body .modal .checkoutReview .hand-basket-product .product-qty,
html body .hand-basket .hand-basket-content .hand-basket-product .product-subtotal,
html body .modal .hand-basket-content .hand-basket-product .product-subtotal,
html body .hand-basket .checkoutReview .hand-basket-product .product-subtotal,
html body .modal .checkoutReview .hand-basket-product .product-subtotal {
  float: left;
  margin-left: 25px;
}
html body .hand-basket .hand-basket-content .hand-basket-product .product-price,
html body .modal .hand-basket-content .hand-basket-product .product-price,
html body .hand-basket .checkoutReview .hand-basket-product .product-price,
html body .modal .checkoutReview .hand-basket-product .product-price {
  margin-left: 18px;
  display: block;
  width: 59px;
  text-align: center;
}
html body .hand-basket .hand-basket-content .hand-basket-product .product-qty,
html body .modal .hand-basket-content .hand-basket-product .product-qty,
html body .hand-basket .checkoutReview .hand-basket-product .product-qty,
html body .modal .checkoutReview .hand-basket-product .product-qty {
  margin-left: 25px;
  display: block;
  width: 20px;
  text-align: center;
}
html body .hand-basket .hand-basket-content .hand-basket-product .product-subtotal,
html body .modal .hand-basket-content .hand-basket-product .product-subtotal,
html body .hand-basket .checkoutReview .hand-basket-product .product-subtotal,
html body .modal .checkoutReview .hand-basket-product .product-subtotal {
  margin-left: 32px;
  display: block;
  text-align: center;
}
html body .hand-basket .hand-basket-content .hand-basket-product .product-meta-title,
html body .modal .hand-basket-content .hand-basket-product .product-meta-title,
html body .hand-basket .checkoutReview .hand-basket-product .product-meta-title,
html body .modal .checkoutReview .hand-basket-product .product-meta-title {
  display: none;
}
html body .hand-basket .hand-basket-content .hand-basket-product .product-color,
html body .modal .hand-basket-content .hand-basket-product .product-color,
html body .hand-basket .checkoutReview .hand-basket-product .product-color,
html body .modal .checkoutReview .hand-basket-product .product-color {
  text-transform: capitalize;
}
html body .hand-basket .hand-basket-content .hand-basket-product a.btn.remove-handbasket-item,
html body .modal .hand-basket-content .hand-basket-product a.btn.remove-handbasket-item,
html body .hand-basket .checkoutReview .hand-basket-product a.btn.remove-handbasket-item,
html body .modal .checkoutReview .hand-basket-product a.btn.remove-handbasket-item {
  background: none;
  border: none;
  color: #666;
  padding: 0;
  float: right;
  text-align: center;
  text-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 50px;
  margin: -5px 0 0 53px;
  opacity: 0.7;
}
html body .hand-basket .hand-basket-content .hand-basket-product a.btn.remove-handbasket-item:hover,
html body .modal .hand-basket-content .hand-basket-product a.btn.remove-handbasket-item:hover,
html body .hand-basket .checkoutReview .hand-basket-product a.btn.remove-handbasket-item:hover,
html body .modal .checkoutReview .hand-basket-product a.btn.remove-handbasket-item:hover {
  opacity: 1.0;
}
html body .hand-basket .hand-basket-content .checkout-totals,
html body .modal .hand-basket-content .checkout-totals,
html body .hand-basket .checkoutReview .checkout-totals,
html body .modal .checkoutReview .checkout-totals {
  float: right;
  width: 240px;
  margin-bottom: 14px;
  padding-top: 18px;
}
html body .hand-basket .hand-basket-content .checkout-totals div,
html body .modal .hand-basket-content .checkout-totals div,
html body .hand-basket .checkoutReview .checkout-totals div,
html body .modal .checkoutReview .checkout-totals div {
  margin-bottom: 3px;
}
html body .hand-basket .hand-basket-content .checkout-totals div:before,
html body .modal .hand-basket-content .checkout-totals div:before,
html body .hand-basket .checkoutReview .checkout-totals div:before,
html body .modal .checkoutReview .checkout-totals div:before,
html body .hand-basket .hand-basket-content .checkout-totals div:after,
html body .modal .hand-basket-content .checkout-totals div:after,
html body .hand-basket .checkoutReview .checkout-totals div:after,
html body .modal .checkoutReview .checkout-totals div:after {
  content: " ";
  display: table;
}
html body .hand-basket .hand-basket-content .checkout-totals div:after,
html body .modal .hand-basket-content .checkout-totals div:after,
html body .hand-basket .checkoutReview .checkout-totals div:after,
html body .modal .checkoutReview .checkout-totals div:after {
  clear: both;
}
html body .hand-basket .hand-basket-content .checkout-totals span.total-title,
html body .modal .hand-basket-content .checkout-totals span.total-title,
html body .hand-basket .checkoutReview .checkout-totals span.total-title,
html body .modal .checkoutReview .checkout-totals span.total-title {
  float: left;
}
html body .hand-basket .hand-basket-content .checkout-totals span.line-item-cost,
html body .modal .hand-basket-content .checkout-totals span.line-item-cost,
html body .hand-basket .checkoutReview .checkout-totals span.line-item-cost,
html body .modal .checkoutReview .checkout-totals span.line-item-cost {
  float: right;
}
html body .hand-basket .hand-basket-content .checkout-totals a.shipping-popover-trigger i,
html body .modal .hand-basket-content .checkout-totals a.shipping-popover-trigger i,
html body .hand-basket .checkoutReview .checkout-totals a.shipping-popover-trigger i,
html body .modal .checkoutReview .checkout-totals a.shipping-popover-trigger i {
  font-size: 13px;
  padding-left: 4px;
}
html body .hand-basket .hand-basket-content hr,
html body .modal .hand-basket-content hr,
html body .hand-basket .checkoutReview hr,
html body .modal .checkoutReview hr {
  border-top-color: #EFEFEF;
  clear: both;
}
html body .hand-basket .hand-basket-content hr:before,
html body .modal .hand-basket-content hr:before,
html body .hand-basket .checkoutReview hr:before,
html body .modal .checkoutReview hr:before,
html body .hand-basket .hand-basket-content hr:after,
html body .modal .hand-basket-content hr:after,
html body .hand-basket .checkoutReview hr:after,
html body .modal .checkoutReview hr:after {
  content: " ";
  display: table;
}
html body .hand-basket .hand-basket-content hr:after,
html body .modal .hand-basket-content hr:after,
html body .hand-basket .checkoutReview hr:after,
html body .modal .checkoutReview hr:after {
  clear: both;
}
html body .hand-basket .hand-basket-content .donation-promo-text,
html body .modal .hand-basket-content .donation-promo-text,
html body .hand-basket .checkoutReview .donation-promo-text,
html body .modal .checkoutReview .donation-promo-text {
  width: 340px;
  font-size: 13px;
  display: block;
  float: left;
  margin-top: -2px;
  margin-bottom: 15px;
}
html body .hand-basket .hand-basket-content .checkout,
html body .modal .hand-basket-content .checkout,
html body .hand-basket .checkoutReview .checkout,
html body .modal .checkoutReview .checkout {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 auto 22px;
  color: #FFF;
  padding: 5px 45px;
  float: right;
  cursor: pointer;
}
html body .hand-basket .checkoutReview,
html body .modal .checkoutReview {
  padding: 0;
}
@media (min-width: 1024px) {
  
}
@media (min-width: 768px) {
  html body .popover.hand-basket {
    min-width: 565px;
    margin-top: -20px;
    margin-right: 20px;
  }
}
@media (min-width: 500px) {
  html body .hand-basket-preview-legend {
    display: block;
  }
  html body .hand-basket-product .product-subtotal {
    display: block !important;
  }
}
@media (min-width: 200px) and (max-width: 570px) {
  html body .hand-basket .hand-basket-content .hand-basket-product .product-preview,
  html body .modal .hand-basket-content .hand-basket-product .product-preview,
  html body .hand-basket .checkoutReview .hand-basket-product .product-preview,
  html body .modal .checkoutReview .hand-basket-product .product-preview {
    width: 70px;
  }
  html body .hand-basket .hand-basket-content .hand-basket-product .product-description,
  html body .modal .hand-basket-content .hand-basket-product .product-description,
  html body .hand-basket .checkoutReview .hand-basket-product .product-description,
  html body .modal .checkoutReview .hand-basket-product .product-description {
    width: 80px;
    margin-right: 0;
  }
  html body .hand-basket .hand-basket-content .hand-basket-product .product-qty,
  html body .modal .hand-basket-content .hand-basket-product .product-qty,
  html body .hand-basket .checkoutReview .hand-basket-product .product-qty,
  html body .modal .checkoutReview .hand-basket-product .product-qty {
    margin-left: 2px;
  }
  html body .hand-basket .hand-basket-content .hand-basket-product a.btn.remove-handbasket-item,
  html body .modal .hand-basket-content .hand-basket-product a.btn.remove-handbasket-item,
  html body .hand-basket .checkoutReview .hand-basket-product a.btn.remove-handbasket-item,
  html body .modal .checkoutReview .hand-basket-product a.btn.remove-handbasket-item {
    margin-left: 20px;
  }
  html body .hand-basket .hand-basket-content .checkout-totals,
  html body .modal .hand-basket-content .checkout-totals,
  html body .hand-basket .checkoutReview .checkout-totals,
  html body .modal .checkoutReview .checkout-totals {
    width: 100%;
  }
  html body .hand-basket .hand-basket-content .donation-promo-text,
  html body .modal .hand-basket-content .donation-promo-text,
  html body .hand-basket .checkoutReview .donation-promo-text,
  html body .modal .checkoutReview .donation-promo-text {
    width: 100%;
  }
}
/**
 * Checkout Styles
 */
.btn.btn-primary.btn-primary-checkout,
.btn.btn-primary:visited.btn-primary-checkout,
.btn.btn-primary:focus.btn-primary-checkout,
.btn.btn-primary.btn-primary-checkout:hover,
.btn.btn-primary:visited.btn-primary-checkout:hover,
.btn.btn-primary:focus.btn-primary-checkout:hover {
  width: 106px;
  height: 45px;
  background: url('../images/btn-primary-checkout.png') no-repeat;
}
.shake {
  -webkit-animation-duration: 400ms;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: panelShakeAnimation;
  -moz-animation-duration: 400ms;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-name: panelShakeAnimation;
}
.shake panelShakeAnimation 0 {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.shake panelShakeAnimation 12.5% {
  -webkit-transform: translateX(-6px) rotateY(-5deg);
  -moz-transform: translateX(-6px) rotateY(-5deg);
  -ms-transform: translateX(-6px) rotateY(-5deg);
  -o-transform: translateX(-6px) rotateY(-5deg);
  transform: translateX(-6px) rotateY(-5deg);
}
.shake panelShakeAnimation 37.5% {
  -webkit-transform: translateX(5px) rotateY(4deg);
  -moz-transform: translateX(5px) rotateY(4deg);
  -ms-transform: translateX(5px) rotateY(4deg);
  -o-transform: translateX(5px) rotateY(4deg);
  transform: translateX(5px) rotateY(4deg);
}
.shake panelShakeAnimation 62.5% {
  -webkit-transform: translateX(-3px) rotateY(-2deg);
  -moz-transform: translateX(-3px) rotateY(-2deg);
  -ms-transform: translateX(-3px) rotateY(-2deg);
  -o-transform: translateX(-3px) rotateY(-2deg);
  transform: translateX(-3px) rotateY(-2deg);
}
.shake panelShakeAnimation 87.5% {
  -webkit-transform: translateX(2px) rotateY(1deg);
  -moz-transform: translateX(2px) rotateY(1deg);
  -ms-transform: translateX(2px) rotateY(1deg);
  -o-transform: translateX(2px) rotateY(1deg);
  transform: translateX(2px) rotateY(1deg);
}
.shake panelShakeAnimation 100% {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@-webkit-keyframes panelShakeAnimation {
  0 {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  12.5% {
    -webkit-transform: translateX(-6px) rotateY(-5deg);
    -moz-transform: translateX(-6px) rotateY(-5deg);
    -ms-transform: translateX(-6px) rotateY(-5deg);
    -o-transform: translateX(-6px) rotateY(-5deg);
    transform: translateX(-6px) rotateY(-5deg);
  }
  37.5% {
    -webkit-transform: translateX(5px) rotateY(4deg);
    -moz-transform: translateX(5px) rotateY(4deg);
    -ms-transform: translateX(5px) rotateY(4deg);
    -o-transform: translateX(5px) rotateY(4deg);
    transform: translateX(5px) rotateY(4deg);
  }
  62.5% {
    -webkit-transform: translateX(-3px) rotateY(-2deg);
    -moz-transform: translateX(-3px) rotateY(-2deg);
    -ms-transform: translateX(-3px) rotateY(-2deg);
    -o-transform: translateX(-3px) rotateY(-2deg);
    transform: translateX(-3px) rotateY(-2deg);
  }
  87.5% {
    -webkit-transform: translateX(2px) rotateY(1deg);
    -moz-transform: translateX(2px) rotateY(1deg);
    -ms-transform: translateX(2px) rotateY(1deg);
    -o-transform: translateX(2px) rotateY(1deg);
    transform: translateX(2px) rotateY(1deg);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes panelShakeAnimation {
  0 {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  12.5% {
    -webkit-transform: translateX(-6px) rotateY(-5deg);
    -moz-transform: translateX(-6px) rotateY(-5deg);
    -ms-transform: translateX(-6px) rotateY(-5deg);
    -o-transform: translateX(-6px) rotateY(-5deg);
    transform: translateX(-6px) rotateY(-5deg);
  }
  37.5% {
    -webkit-transform: translateX(5px) rotateY(4deg);
    -moz-transform: translateX(5px) rotateY(4deg);
    -ms-transform: translateX(5px) rotateY(4deg);
    -o-transform: translateX(5px) rotateY(4deg);
    transform: translateX(5px) rotateY(4deg);
  }
  62.5% {
    -webkit-transform: translateX(-3px) rotateY(-2deg);
    -moz-transform: translateX(-3px) rotateY(-2deg);
    -ms-transform: translateX(-3px) rotateY(-2deg);
    -o-transform: translateX(-3px) rotateY(-2deg);
    transform: translateX(-3px) rotateY(-2deg);
  }
  87.5% {
    -webkit-transform: translateX(2px) rotateY(1deg);
    -moz-transform: translateX(2px) rotateY(1deg);
    -ms-transform: translateX(2px) rotateY(1deg);
    -o-transform: translateX(2px) rotateY(1deg);
    transform: translateX(2px) rotateY(1deg);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-ms-keyframes panelShakeAnimation {
  0 {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  12.5% {
    -webkit-transform: translateX(-6px) rotateY(-5deg);
    -moz-transform: translateX(-6px) rotateY(-5deg);
    -ms-transform: translateX(-6px) rotateY(-5deg);
    -o-transform: translateX(-6px) rotateY(-5deg);
    transform: translateX(-6px) rotateY(-5deg);
  }
  37.5% {
    -webkit-transform: translateX(5px) rotateY(4deg);
    -moz-transform: translateX(5px) rotateY(4deg);
    -ms-transform: translateX(5px) rotateY(4deg);
    -o-transform: translateX(5px) rotateY(4deg);
    transform: translateX(5px) rotateY(4deg);
  }
  62.5% {
    -webkit-transform: translateX(-3px) rotateY(-2deg);
    -moz-transform: translateX(-3px) rotateY(-2deg);
    -ms-transform: translateX(-3px) rotateY(-2deg);
    -o-transform: translateX(-3px) rotateY(-2deg);
    transform: translateX(-3px) rotateY(-2deg);
  }
  87.5% {
    -webkit-transform: translateX(2px) rotateY(1deg);
    -moz-transform: translateX(2px) rotateY(1deg);
    -ms-transform: translateX(2px) rotateY(1deg);
    -o-transform: translateX(2px) rotateY(1deg);
    transform: translateX(2px) rotateY(1deg);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes panelShakeAnimation {
  0 {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  12.5% {
    -webkit-transform: translateX(-6px) rotateY(-5deg);
    -moz-transform: translateX(-6px) rotateY(-5deg);
    -ms-transform: translateX(-6px) rotateY(-5deg);
    -o-transform: translateX(-6px) rotateY(-5deg);
    transform: translateX(-6px) rotateY(-5deg);
  }
  37.5% {
    -webkit-transform: translateX(5px) rotateY(4deg);
    -moz-transform: translateX(5px) rotateY(4deg);
    -ms-transform: translateX(5px) rotateY(4deg);
    -o-transform: translateX(5px) rotateY(4deg);
    transform: translateX(5px) rotateY(4deg);
  }
  62.5% {
    -webkit-transform: translateX(-3px) rotateY(-2deg);
    -moz-transform: translateX(-3px) rotateY(-2deg);
    -ms-transform: translateX(-3px) rotateY(-2deg);
    -o-transform: translateX(-3px) rotateY(-2deg);
    transform: translateX(-3px) rotateY(-2deg);
  }
  87.5% {
    -webkit-transform: translateX(2px) rotateY(1deg);
    -moz-transform: translateX(2px) rotateY(1deg);
    -ms-transform: translateX(2px) rotateY(1deg);
    -o-transform: translateX(2px) rotateY(1deg);
    transform: translateX(2px) rotateY(1deg);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
#checkout {
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 20px 20px 0;
  background: rgba(237, 238, 237, 0.9);
}
#checkout label {
  font-weight: 600;
  font-size: 10px;
}
#checkout input.error {
  border: 1px solid #e85846 !important;
}
#checkout .checkout-header {
  padding: 20px 0 0;
  background: #ffffff;
}
#checkout .checkout-header a.site-title {
  float: none;
  margin: 0 auto 15px;
}
#checkout .checkout-header ul.checkout-tabs {
  margin: 0;
  padding: 0;
}
#checkout .checkout-header ul.checkout-tabs:before,
#checkout .checkout-header ul.checkout-tabs:after {
  content: " ";
  display: table;
}
#checkout .checkout-header ul.checkout-tabs:after {
  clear: both;
}
#checkout .checkout-header ul.checkout-tabs li {
  list-style: none;
}
#checkout .checkout-header ul.checkout-tabs a {
  padding: 10px 0;
  color: #FFF;
  width: 33.33%;
  display: block;
  float: left;
  background: gray;
  text-align: center;
}
#checkout .checkout-header ul.checkout-tabs a.current {
  background: #FFF;
  color: gray;
}
#checkout .checkout-header ul.checkout-tabs a.complete {
  color: #9bd2cb;
}
#checkout .checkout-step {
  display: none;
  padding: 10px;
  width: 100%;
  background: #ffffff;
}
#checkout .checkout-step .modal-body {
  max-height: none;
}
#checkout .checkout-step .checkout-footer a {
  color: #FFF;
  background: #9bd2cb;
  display: block;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding: 10px;
}
#basic-info.checkout-step .shipping-info {
  display: none;
}
@media (min-width: 500px) {
  #checkout .checkout-header,
  #checkout .checkout-step {
    width: 565px;
    margin: 0 auto;
    max-width: 565px;
  }
}
